<%= render 'layouts/nav' %>

<div class="row justify-content-center">
  <h1>Edit Workout</h1>
</div>

<div class="row justify-content-center">
  <%= render 'form', workout: @workout %>
</div>

<div class="row justify-content-center">
  <%= link_to 'Show', @workout %> |
  <%= link_to 'Add Exercises', @workout %> |
  <%= link_to 'Home', root_path %>
</div>
