<%= render 'layouts/nav' %>

<p id="notice"><%= notice %></p>

<div class="row justify-content-center">
  <h3><strong><%= @workout.name %></strong></h3>
</div>

<div class="row justify-content-center">
  <p>by <%=@workout.user.username %></p>
</div>

<div class="row justify-content-center">
  <% if @workout.exercises.empty? %>
    There are no exercises yet for this workout.</tr>
  <% else %>
    <div class="col-lg-5">
  <table class="table table-light">
    <thead class="table-dark bg-primary">
      <tr>
        <th scope="col">Exercise Name</th>
        <th scope="col">Description</th>
        <th scope="col">Time (minutes)</th>
      </tr>
    </thead>

    <tbody>
      <% @workout.exercises.each do |exercise| %>
        <tr>
          <td><%= exercise.name%></td>
          <td><%= exercise.description%></td>
          <td><%= exercise.time%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>
</div>

<div class="row justify-content-center">
  <% if current_user.username == @workout.user.username %>
    <h3><strong>Add an exercise to this workout!</strong></h3>
  <% end %>
</div>

<div class="row justify-content-center">
  <% if current_user.username == @workout.user.username %>
    <%= render '/exercises/form', exercise: @exercise, workout: @workout%>
  <% end %>
</div>


<% if @workout.comments_state %>
  <div class="row justify-content-center">
    <% @workout.comments.each do |comment| %>
      <p>hello!</p>
      <tbody>
        <td><%= comment.user.username%></td>
        <td><%= comment.field%></td>
      </tbody>
    <% end %>
  </div>
  <div class="row justify-content-center">
    <%= render '/comments/form', comment: @comment, workout: @workout%>
  </div>
<% end %>


<div class="row justify-content-center">
  <% if current_user.username == @workout.user.username %>
    <%= link_to 'Edit', edit_workout_path(@workout) %> |
  <%end%>
  <%= link_to 'Home', root_path %>
</div>
