<%= form_with model: [recipe, ingredient] do |form| %>

  <h4>Add an ingredient to your recipe!</h4>

  <div class="field">
    <%= form.label :ingredient_name %>
    <%= form.text_field :name, id: :ingredient_name %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount, id: :ingredient_amount %>
  </div>

  <div class="actions">
    <%= form.submit :Add %>
  </div>
<% end %>
