<%= form_with model: [workout, exercise] do |form| %>

  <div class="field">
    <%= form.label :Exercise_Name %>
    <%= form.text_field :name, id: :exercise_name %>
  </div>

  <div class="field">
    <%= form.label :Description %>
    <%= form.text_area :description, id: :exercise_description %>
  </div>

  <div class="field">
    <%= form.label :Time_In_Minutes %>
    <%= form.text_field :time, id: :exercise_time %>
  </div>

  <div class="actions">
    <%= form.submit :Add %>
  </div>
<% end %>
